In [2]:
a= int(input())
a.split()

ValueError: invalid literal for int() with base 10: ''

In [3]:
a =20 
sum(a)

TypeError: 'int' object is not iterable

In [4]:
a= 20
for i in a:
    print (a[i])

TypeError: 'int' object is not iterable

In [5]:
a= list(a)
for i in a:
    print(a[i]+a[i])

TypeError: 'int' object is not iterable

In [6]:
a= 20
b= str(a)
b

'20'

In [7]:
a1 = int(b[0])

In [8]:
b1 = int(b[1])

In [9]:
a1+b1

2

In [10]:
a1**2

4

In [11]:
b1**2

0

In [12]:
def isLucky(n):
    
    # Function attribute will act as static variable
      
    # just for readability, can be removed and used n instead
    next_position = n
      
    if isLucky.counter > n:
        return 1
    if n % isLucky.counter == 0:
        return 0
      
    # Calculate next position of input number
    next_position = next_position - next_position / isLucky.counter
      
    isLucky.counter = isLucky.counter + 1
      
    return isLucky(next_position) 


isLucky.counter = 2 # Acts as static variable
x = 22
if isLucky(x):
    print (x,"is a Lucky number")
else:
    print (x,"is not a Lucky number")

22 is not a Lucky number

In [34]:
li =[]
list(input("ENT"))

ENT20

['2', '0']

In [35]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [36]:
li[0]= input("ent")

ent20

IndexError: list assignment index out of range

In [37]:
li

[]

In [38]:
int(li[0])

IndexError: list index out of range

In [39]:
type(li[0])

IndexError: list index out of range

In [40]:
li = []
for i in range(0,4):
    li.append(int(input()))

20
30
40
50

In [41]:
li

[20, 30, 40, 50]

In [42]:
li = []
for i in range(0,4):
    li.append(input())

10
20
30
40

In [43]:
li

['10', '20', '30', '40']

In [44]:
type(li[0])

str

In [45]:
li1 = []
for i in li:
    li1.append(int(i))

In [46]:
type(li1[0])

int

In [47]:
for i in range(len(li)):
    li[i] = int(li[i])
li

[10, 20, 30, 40]

In [48]:
# i/p :"23 45 67 89"
# o/p :[23,45,67,89]

In [49]:
s = input()
s1 = s.split()
s1

23 45 67 89

['23', '45', '67', '89']

In [50]:
for i in range(len(s1)):
    s1[i] = int(s1[i])
s1

[23, 45, 67, 89]

In [52]:
l = [int(i) for i in input().split()]
l

23 45 67 89

[23, 45, 67, 89]

In [53]:
l = [int(i)**2 for i in input().split()]
l

23 45 67 89

[529, 2025, 4489, 7921]

In [54]:
l = [int(i)*int(i) for i in input().split()]
l

23 45 67 89

[529, 2025, 4489, 7921]

In [55]:
li = list(map(int,input().split()))
li

23 45 67 89

[23, 45, 67, 89]

In [ ]:
# [[23,56,78,90],[],[],[]]

In [57]:
marks = []
for i in range(4):
    marks.append(list(map(int,input().split())))
marks

23 42 56 82
24 56 85 100
45 60 70 80
100 90 50 0

[[23, 42, 56, 82], [24, 56, 85, 100], [45, 60, 70, 80], [100, 90, 50, 0]]

In [59]:
marks = []
for i in range(8):
    marks.append(list(map(int,input().split())))
marks

416
23 56 78 90
316
77 45 67 92
210
23 84 33 89
113
23 45 67 12

[[416],
 [23, 56, 78, 90],
 [316],
 [77, 45, 67, 92],
 [210],
 [23, 84, 33, 89],
 [113],
 [23, 45, 67, 12]]

In [64]:
# marks.extend()
456
75 85 90 90
756
85 75 95 85 
951 
74 85 96 76 
123 
56 54 58 52

TypeError: extend() takes exactly one argument (0 given)

In [11]:
id_marks = []
for i in range(4):
    id_marks.append([(int(input()))])
    id_marks[i].extend(list(map(int,input().split())))
id_marks

456
75 85 90 90
756
85 75 95 85
951
74 85 96 76
123
56 54 58 52

[[456, 75, 85, 90, 90],
 [756, 85, 75, 95, 85],
 [951, 74, 85, 96, 76],
 [123, 56, 54, 58, 52]]

In [2]:
# i/p -- id_marks
# d = {Std_id :sum of the marks}
# d = {456:___,756:___,951:___,123:___}

In [12]:
d ={}
for i in id_marks:
    d[i[0]] = sum(i[1:])
d

{456: 340, 756: 340, 951: 331, 123: 220}

In [ ]:
# i/p : id_marks
# o/p format : d ={stdid:[sum,min,max,avg]}
# o/p d = {456: [340, 75, 90, 85.0],
#  756: [340, 75, 95, 85.0],
#  951: [331, 74, 96, 82.75],
#  123: [220, 52, 58, 55.0]}

In [15]:
d ={}
for i in id_marks:
    d[i[0]] = [sum(i[1:]), min(i[1:]), max(i[1:]), (sum(i[1:])/len(i[1:]))]
d

{456: [340, 75, 90, 85.0],
 756: [340, 75, 95, 85.0],
 951: [331, 74, 96, 82.75],
 123: [220, 52, 58, 55.0]}

In [ ]:
if __name__ == '__main__':
    d = {} 
    for _ in range(int(input())):
        name = input()
        score = float(input())
        d[names]=score
    value = sorted(d.items(), key = lambda x:x[1])
    names = []
    for n,s in value:
        if s== value[1][1]:
            names.append(n)
    for n in sorted(names):
        print(n)