# Introduction of Python

In [1]:
pwd # present working dairatry

'C:\\Users\\saiku\\PROMIZE IT PYTHON CLASS'

<img src = "rhinopython-guides-col1.png">

# Python Programming

- python can be used as general programming 
- python more popular beccause of internal and external packages
- python can be use functional programming, oop , scripting programming
- python used in data science, ML & Ai
- Data science 
    - pandas
- Visualization 
    - matlib , scipy
- multib

In [4]:
print("Hello World!")

Hello World!

In [5]:
print ("hello","saikumar")

hello saikumar

In [6]:
print("hello", end = " ")
print ("saikumar")

hello saikumar

# Datatypes in python
    - int
    - float
    - string

In [8]:
x= 10000
print(x, type(x))

10000 <class 'int'>

In [9]:
x= 10.90
print(x, type(x))

10.9 <class 'float'>

In [10]:
s= "sai"
s1 = "kumar"
print(s, type(s))
print(s1, type(s1))

sai <class 'str'>
kumar <class 'str'>

# Input Function in Python 
- input() which reads the input console and gives the output interm of string format

In [12]:
s = input("enter your name")
print(s, type(s))

enter your namesaikumar
saikumar <class 'str'>

In [13]:
s1 = input("enter your number")
print(s1, type(s1))

enter your number10031a238
10031a238 <class 'str'>

# Type Conversions 
   
- int()
       - it makes the input into integer class
- float()
        - it makes the input to float format
- str()
        - it makes the input to string format

In [14]:
s2 = int(input("enter your number"))
print(s1, type(s2))

enter your number12345
10031a238 <class 'int'>

# Control flow statements
    - conditional  statement
        -- if-else  
    - loop statements
        -- for 
        -- while

In [2]:
## finding the given number is odd or even 

x= int(input())
if x % 2 == 0 :
    print("Even")
else:
    print("Odd")

12
Even

# read a character and upper or lower case

In [5]:
x= input()
if ord(x) >= 65 and ord(x) <= 90:
    print("upper case character")
elif ord(x) >= 97 and ord(x) <= 122:
    print("lower case character")

R
upper case character

In [2]:
print(ord("A"))
print(ord("Z"))
print(ord("a"))
print(ord("z"))
print(ord("0"))
print(ord("9"))
print(ord(" "))

65
90
97
122
48
57
32

# read the char and print the output in vice varsa 
# a -A
# A- a

In [5]:
x= input()
if ord(x) >= 65 and ord(x) <= 90:
    print( chr(ord(x) + 32))
elif ord(x) >= 97 and ord(x) <= 122:
    print(chr(ord(x) - 32))

a
A

In [6]:
print(ord("a"))
print(chr(65))

97
A

In [13]:
print(chr(70))

F

# WHILE LOOP
### NO-FIXED
# FOR LOOP
### FIXED

In [15]:
#print the natural number from 1 to N
n = int(input())
i = 1
while i <= n:
    print(i, end = " ")
    i += 1

100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [19]:
#print the factors/divisors of the given number
# 6  -- 1 2 3 6
n = int(input())
i = 1 
while i <= n:
    if n % i == 0:
        print(i, end = " ")
    i += 1

6
1 2 3 6

In [21]:
#print the digit of the given number
#145        --- 541
# 1889      ---9881
n = int(input())
while n  != 0:
    print(n%10, end = " ")
    n = n//10

1889
9 8 8 1

# Range

In [22]:
range(5)

range(0, 5)

In [24]:
for x in range(5):
    print(x, end = " ")

0 1 2 3 4

In [25]:
for x in range(1,11):
    print(x , end =" ")

1 2 3 4 5 6 7 8 9 10

In [28]:
for x in range(100,150,2):
    print(x, end= " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [29]:
for x in range(150,100,-2):
    print(x, end = " ")

150 148 146 144 142 140 138 136 134 132 130 128 126 124 122 120 118 116 114 112 110 108 106 104 102

# Data Structures  
- Organizing the huge amount of data
- making the user to serach, sort anf filter the respective in simple manner
- examples Databases

# Data Structures in Python
- List
- tuples
- Dictionaries
- Sets

# List in Python
- common Data Structure in python
- used to define the range/group of items under a same name
- list can be same type or different type
- list always enclosed in square brackets
- every list item will be separted by comma(,)

In [30]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [31]:
#list with looping
for x in range(len(li)):
    print(li[x], end = " ")

1 2 3 4 5

In [32]:
l = [1990,"hyderabad", "dhayanahita", 78,65.2]
for i in range(len(l)):
    print(l[i], end = " ")

1990 hyderabad dhayanahita 78 65.2

In [34]:
print(l[2])

dhayanahita

In [35]:
# update , delate
print(l)

[1990, 'hyderabad', 'dhayanahita', 78, 65.2]

In [37]:
l[3] = 1009

In [39]:
print(l)

[1990, 'hyderabad', 'dhayanahita', 1009, 65.2]

In [40]:
del l[1]

In [41]:
print(l)

[1990, 'dhayanahita', 1009, 65.2]

In [42]:
1[5] = 1092

TypeError: 'int' object does not support item assignment

In [47]:
li =  [19,3,10,12,18,20]
# list slicing 
print(li[1:5])
print(li[:5])
print(li[2:-1])
print(li[-5:-1])

[3, 10, 12, 18]
[19, 3, 10, 12, 18]
[10, 12, 18]
[3, 10, 12, 18]

In [54]:
#list methods and functions
print(li)
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

[19, 3, 10, 12, 18, 20]
20
3
82
6
13

In [70]:
li

[19, 3, 10, 12, 18, 20, 100, 100, 100, 100, 100]

In [88]:
li.append(100)
li

[100, 100, 100, 200, 100, 100, 100, 20, 18, 10, 3, 100]

In [87]:
li.insert(3,200)
li

[100, 100, 100, 200, 100, 100, 100, 20, 18, 10, 3]

In [86]:
li.count(100)

6

In [85]:
li.reverse()
li

[100, 100, 100, 100, 100, 100, 20, 18, 10, 3]

In [81]:
li.sort()
li

[3, 10, 12, 18, 20, 100, 100, 100, 100, 100, 100, 200, 200]

In [83]:
li.pop()
li

[3, 10, 12, 18, 20, 100, 100, 100, 100, 100, 100]

In [84]:
li.pop(2)
li

[3, 10, 18, 20, 100, 100, 100, 100, 100, 100]

# Functional Programming
   - Reuse code block can be called as function
   - Functions will remove the duplicate of code
   - Functions will make programming more effifient
   - functions will decrease the length of code -- def funNme(): statements
       * FunName is always Camel Case
       * Example : fact(), isPrime() , isPalindromeTest()
       * Parameters function is optional
       * in python function can be defined with key word

In [91]:
# Define the function 
def add():
    x= int(input())
    y= int(input())
    print(x+y)
    return
#call the function
add()

10
20
30

In [105]:
def square(x):
    print(x*x)
    return
x = int(input(x))
square(x)

45
25

In [103]:
def cube(x):
    print(x*x*x)
    return
cube(100)

1000000

In [109]:
# function second large number of the lst
def secondLarge(li):
    li.sort()
    return li[-2]
li = [19,3,10,12,18,20]
secondLarge(li)

19

In [ ]:
#function to find generic large value
def genericLarge(li,n):
    li.sort()
    return li[-n]
li = [19,3,10,12,18,20]

# Dict { }

In [1]:
dict = {1: "saikumar", 2: "BE" ,3:"Automobile Enginner", 4:"Skoda"}
print(dict)

{1: 'saikumar', 2: 'BE', 3: 'Automobile Enginner', 4: 'Skoda'}

In [2]:
print(dict[2])

BE

In [3]:
dict.keys()

dict_keys([1, 2, 3, 4])

In [6]:
def dict1():
    dict = {1: "saikumar", 2: "BE" ,3:"Automobile Enginner", 4:"Skoda"}
    print(dict)
    print(dict[2])
    print(dict.keys())
dict1()    # calling the function

{1: 'saikumar', 2: 'BE', 3: 'Automobile Enginner', 4: 'Skoda'}
BE
dict_keys([1, 2, 3, 4])

In [23]:
dict

{1: 'saikumar', 3: 'Automobile Enginner', 4: 'Skoda'}

In [24]:
dict.pop(3)
print(dict)

{1: 'saikumar', 4: 'Skoda'}

In [34]:
d1 = {}
l = input()
l =l.split(',')
for i in l:
    t = i.split(':')
    d1[t[0]] = t[1]
print(d1)

1: "hello world"
{'1': ' "hello world"'}

In [2]:
d2 = {1:"sunday",2:"monday",3:"thuseday",4:"wednesday",5:"thursday",6:"friday",7:"saturday"}
print(d2)

{1: 'sunday', 2: 'monday', 3: 'thuseday', 4: 'wednesday', 5: 'thursday', 6: 'friday', 7: 'saturday'}

In [5]:
print(input.d2[])

SyntaxError: invalid syntax (<ipython-input-5-6014ce891ce5>, line 1)

# Tuples

In [6]:
t1 = ()
type(t1)

tuple

In [7]:
t2 =("sai")
type(t2)

str

In [8]:
t3 = ("sai", "2")
type(t3)

tuple

In [9]:
tup = (1,2,3,4,5)
print(type(tup))
print(tup[2])

<class 'tuple'>
3

In [3]:
t4 = ("sai", "vicky")
type(t4)

tuple

In [19]:
t4[1]

'vicky'

In [21]:
list(t4)

['sai', 'vicky']

# Tuple Membership

In [2]:
print("s" in "sai")

True

In [20]:
t5 = (1,2,[3,5])
type(t5)
t5

(1, 2, [3, 5])

In [23]:
t5[2][1]= 10
print(t5)

(1, 2, [3, 10])

In [25]:
t5[2][0]= 5
print(t5)

(1, 2, [5, 10])

In [ ]:
def sqroot():
    n = int(input("enter the number"))
    for i in range ()

In [29]:
t6= tuple(("sai", "kumar"))
print(type(t6))
print(t6)

<class 'tuple'>
('sai', 'kumar')

In [32]:
t7 = ("sai", "kumar","manikonda","be")[3]
t7

'be'

In [34]:
t8 = ("sai", "kumar","manikonda","be",[1,2,3])[4][1]= 10
t8

10

In [35]:
t9 = (1,2,3,4,5,6,7,8,9)[::2]
t9

(1, 3, 5, 7, 9)

In [37]:
t10 = (0,1,2,3,4,5,6,7,8,9)[::2]
t10

(0, 2, 4, 6, 8)

In [38]:
name = ["sai","sany","sunday","vicky"]
for i in name:
    if (i[0]== "s" or i[0] == "S"):
        i = "".join(list(i)[1::])
    print(i)

ai
any
unday
vicky

# Tuples in python 
    - Tuples are similar to list
    - used to read the object data
    - list is Mutable and Tuple are immutable
    - list object can be used for insert , update , delete
    - Tuple Object can only support for reading
    - Tuple can be defined as with in paraenthsis()

In [12]:
t1 = (1,2,3,4,5,6)
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

In [2]:
t1[:3]

(1, 2, 3)

In [16]:
t1[2:-1]

(3, 4, 5)

In [8]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [17]:
t1[1] = 1990

TypeError: 'tuple' object does not support item assignment

In [18]:
del t1[2]

TypeError: 'tuple' object doesn't support item deletion

In [19]:
for i in range (len(t1)):
    print(t1[i] , end = " ")

1 2 3 4 5 6

# Dictionaries in Python 

    - General purpose data structure in python
    - Dict object basically consists of key and value 
    - Dict Object consists of unique key
    - Dict object can be enclosed  in curly braces - {}
    - Dict pair keys and value is separted by comma(')
    - key and value is separted by colon symbol :

In [24]:
d1 = {"name" : "sai" ,"Email" :"sai@gmail.com" , "phone" :"8886068670"}
print(type(d1))
d1

<class 'dict'>

{'name': 'sai', 'Email': 'sai@gmail.com', 'phone': '8886068670'}

In [25]:
print(d1["name"])

sai

In [30]:
li = []
li = d1.keys()
print(li)

dict_keys(['name', 'Email', 'phone'])

In [32]:
len(d1.keys())

3

In [33]:
# conv to dict to list
li = []
for i in d1.keys():
    li.append(i)
li

['name', 'Email', 'phone']

In [34]:
li1 = []
li1 = list(d1.keys())
print(li1)

['name', 'Email', 'phone']

In [35]:
li_values = []
li_values = list(d1.values())
print(li_values)

['sai', 'sai@gmail.com', '8886068670']

In [37]:
# changing the name in value in given data
d1["name"] = "saikumar"
d1

{'name': 'saikumar', 'Email': 'sai@gmail.com', 'phone': '8886068670'}

In [38]:
"sai" not in li

True

In [42]:
"name"  in li

True

# Contact Application

   - ** List, Tuples, Dicts**
    
    * Add a new Contact Details

In [43]:
contacts = {} #empty Dict object
def addContact(name, phone):
    if name not in contacts:
        contacts[name] = phone
        print(name , "Inserted successfully")
    else:
        print(name , "Already Exists")
    return
addContact("sai", 8886068670)
addContact("kumar",9656846549)
addContact("sai", 264564944594)

sai Inserted successfully
kumar Inserted successfully
sai Already Exists

In [44]:
print(contacts)

{'sai': 8886068670, 'kumar': 9656846549}

In [50]:
def searchContach(name):
    if name in contacts:
        return name,":" , contacts[name]
    return "Contact is not present" 
print(searchContach("saikumatr"))
print(searchContach("kumar"))
print(searchContach("sai"))

Contact is not present
('kumar', ':', 9656846549)
('sai', ':', 8886068670)

In [54]:
def editContact(name, phone):
    if name in contacts:
        contacts[name] = phone
        print(name , "update successfully")
    else:
        print(name, "not exists")
    return
editContact("sai", 9885793169)
editContact("jghfyu" , 45549649455)

sai update successfully
jghfyu not exists

In [56]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name , "Delect Successfuly")
    else:
        print(name , "not exists")
    return 
deleteContact("sai")
deleteContact("saikumar")

sai Delect Successfuly
saikumar not exists

In [58]:
contacts

{'kumar': 9656846549}

In [60]:
contacts = {} #empty Dict object
def addContact(name, phone):
    if name not in contacts:
        contacts[name] = phone
        print(name , "Inserted successfully")
    else:
        print(name , "Already Exists")
    return
addContact("sai", 8886068670)
addContact("kumar",9656846549)
addContact("sai", 264564944594)
addContact("racky", 1515151556156)
addContact("vicky" , 2549841894884)
addContact("deva", 21515485151556)
addContact("krishna", 154185415655)
addContact("ahjshaj", 54548563122158)
addContact("ndhsgsfjgj", 246156415648)

sai Inserted successfully
kumar Inserted successfully
sai Already Exists
racky Inserted successfully
vicky Inserted successfully
deva Inserted successfully
krishna Inserted successfully
ahjshaj Inserted successfully
ndhsgsfjgj Inserted successfully

In [77]:
contacts

{'sai': 8886068670,
 'kumar': 9656846549,
 'racky': 1515151556156,
 'vicky': 2549841894884,
 'deva': 21515485151556,
 'krishna': 154185415655,
 'ahjshaj': 54548563122158,
 'ndhsgsfjgj': 246156415648}

In [78]:
li2 = []
li2 = list(contacts.keys())
print(li2)

['sai', 'kumar', 'racky', 'vicky', 'deva', 'krishna', 'ahjshaj', 'ndhsgsfjgj']

In [79]:
li2.sort()
print(li2 , end = " ")

['ahjshaj', 'deva', 'krishna', 'kumar', 'ndhsgsfjgj', 'racky', 'sai', 'vicky']

In [82]:
# List of contacts in sorting
def sortContact():
    for i in li2:
        print(i, ":", contacts[i])
sortContact()

ahjshaj : 54548563122158
deva : 21515485151556
krishna : 154185415655
kumar : 9656846549
ndhsgsfjgj : 246156415648
racky : 1515151556156
sai : 8886068670
vicky : 2549841894884

In [2]:
#replacing of given str with resp word
def replace():
    st = str(input())
    for i in st:
        if i == "M" or i == "m":
            print("w", end = "")
        else:
            print(i,end ="")
replace()

saim
saiw

In [6]:
#
st1 = str(input())
def countUppercase(st1):
    upper = 0
    for i in range(len(st1)):
        if ord(st1[i])>=65 and ord(st1[i]) <=90:
            upper+= 1
    print("The upper case letters is:%s" %upper)
countUppercase(st1)

Sai
The upper case letters is:1

# SETS

In [3]:
s = {1,2,3,4}
print(type(s))
s

<class 'set'>

{1, 2, 3, 4}

In [4]:
s.add(6)
s

{1, 2, 3, 4, 6}

In [5]:
s.add(5) # to add the element from set
s

{1, 2, 3, 4, 5, 6}

In [6]:
s.remove(4) # to remove the element from set
s

{1, 2, 3, 5, 6}

In [7]:
s.update([1,2],{9:"hi", 11:"hello"},(1,30,40)) # to up date the elements in the sets
s

{1, 2, 3, 5, 6, 9, 11, 30, 40}

In [8]:
s.discard(2)
s

{1, 3, 5, 6, 9, 11, 30, 40}

In [10]:
s.remove(5)
s

{1, 3, 6, 9, 11, 30, 40}

In [12]:
s.pop()
s

{6, 9, 11, 30, 40}

In [16]:
s1 = [1,2,3,4,5,6]
s1.pop()
s1

[1, 2, 3, 4, 5]

# Files and Pack

## Files
    - Write the file data
    - Append the file data
    - Read the file data
    - Word count
    - Character Count
    - Some apecific examples on characters and words
    
    -- File Modes
      -  **w** (if the file is not exists then it will create the file and will put some to the file), if the file is already exists it is rewrite the existing file data
      -  **a** (if the file is not exists then it will creat a file and data will be written), if the file is already exits then the data will be writen from the last line
      -  **r** (use for the read the data)

In [7]:
def creatFile(fileName):
    f =  open (fileName , 'w')
    for i in range (10):
        f.write('this line\n')
    print('File is created and data has written to the file')
    return
creatFile('file1.txt')

File is created and data has written to the file

In [4]:
pwd

'C:\\Users\\saiku\\PROMIZE IT PYTHON CLASS'

In [6]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 8844-E0D8

 Directory of C:\Users\saiku\PROMIZE IT PYTHON CLASS

09-01-2020  14:58    <DIR>          .
09-01-2020  14:58    <DIR>          ..
09-01-2020  11:31    <DIR>          .ipynb_checkpoints
09-01-2020  14:57                 0 file1.txt
02-01-2020  14:27         1,860,248 ford_mustang_5.jpg
09-01-2020  14:58            56,059 Introduction of Python.ipynb
06-01-2020  16:49            11,410 Q on 6th Jan 2019.ipynb
04-01-2020  12:00            79,395 rhinopython-guides-col1.png
               5 File(s)      2,007,112 bytes
               3 Dir(s)  141,085,581,312 bytes free

In [10]:
# writing the data to the existing file (data replace the previsious data)
def testFileData(fileName):
    f = open(fileName,'w')
    f.write("New Line Data\n")
    return
testFileData('file1.txt')

In [15]:
def appendData(fileName):
    f = open(fileName, 'a')
    f.write('dhayanahia org\n')
    print('data appendes')
    return
appendData("file1.txt")

data appendes

In [16]:
def readFileData(fileName):
    f  = open(fileName, 'r')
    if f.mode == "r":
        x =  f.read() # var string
        print(x)
    else:
        print("Erro message")
    return
readFileData("file1.txt")

New Line Data
dhayanahia org
dhayanahia org

In [17]:
# worde count

def wordcount(fileName):
    li = []
    f= open(fileName , "r")
    if f.mode == 'r':
        x = f.read()
        li = x.split()
    return len(li)
wordcount("file1.txt")

7

In [20]:
li = []
s ="sai kumar manikonda vinnakota be"
li = s.split()
print(li)
print(len(li))

['sai', 'kumar', 'manikonda', 'vinnakota', 'be']
5

In [25]:
# To find the specfic word on the given file
def specficWordCount(fileName, word):
    li = []
    f = open(fileName , "r")
    if f.mode == "r":
        x =f.read()
        li = x.split()
        cnt = li.count(word)
    return cnt
print(specficWordCount("file1.txt", "org"))
print(specficWordCount("file1.txt", "sai"))

2
0

In [33]:
# To find the number of char count

def charCount(fileName):
    li = []
    f= open(fileName , "r")
    if f.mode == 'r':
        x = f.read()
        li = list(x)
    return len(li)
("file1.txt")
charCount("file1.txt")

44

In [26]:
# find the line coun in file

In [ ]:
# upper case

In [ ]:
# lower case

In [27]:
#find the "  " (space ) count