y= m1x1+m2x2+c<br>
m1=2,m2=3, c=5

(1,1) -->

In [11]:
def call(x1,x2):
    return 2*x1+3*x2+5
(call(1,1),call(6,5),call(5,10),call(1,6),call(10,8),call(10,9),call(5,8))

(10, 32, 45, 25, 49, 52, 39)

In [6]:
call(6,5)

32

In [21]:
import pandas as pd
da = pd.read_csv("data.csv")

In [2]:
da

   x1  x2   y
0   1   1  10
1   6   5  32
2   5  10  45
3   1   6  25
4  10   8  49
5  10   9  52
6   5   8  39

In [3]:
features = da[["x1","x2"]]
features

   x1  x2
0   1   1
1   6   5
2   5  10
3   1   6
4  10   8
5  10   9
6   5   8

In [15]:
target = da["y"]
target

0    10
1    32
2    45
3    25
4    49
5    52
6    39
Name: y, dtype: int64

In [16]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(features,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
lr.intercept_

4.999999999999993

In [8]:
lr.coef_

array([2., 3.])

In [19]:
lr.predict([[2,6],[1,1]])

array([27., 10.])

In [12]:
pred  = lr.predict(features)
pred

array([10., 32., 45., 25., 49., 52., 39.])

In [17]:
target

0    10
1    32
2    45
3    25
4    49
5    52
6    39
Name: y, dtype: int64

In [18]:
from sklearn.metrics import mean_squared_error
mean_squared_error(pred,target)

2.569432662719867e-29

# Classification

In [25]:
da1 = pd.read_csv("data1.csv")
da1

   x1  x2    y
0   1   1  100
1   6   5   30
2   5  70   75
3   1  67   25
4   8   8   69
5  10   9   52
6   5   8   52

In [27]:
feat = da1[["x1","x2"]]
feat

   x1  x2
0   1   1
1   6   5
2   5  70
3   1  67
4   8   8
5  10   9
6   5   8

In [29]:
out = da1["y"].apply(lambda x:1 if x>45 else 0)
out

0    1
1    0
2    1
3    0
4    1
5    1
6    1
Name: y, dtype: int64

In [31]:
from sklearn.linear_model import LogisticRegression
lrc = LogisticRegression()
lrc.fit(feat,out)

C:\Users\saiku\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
lrc.predict(feat)

array([1, 1, 1, 0, 1, 1, 1], dtype=int64)

In [34]:
da1["y"]

0    100
1     30
2     75
3     25
4     69
5     52
6     52
Name: y, dtype: int64

In [35]:
lrc.intercept_

array([0.06367077])

In [36]:
lrc.coef_

array([[ 0.23606809, -0.01066127]])